[Desktop Entry]
Name=File Shredder
Exec=raider
Icon=com.github.ADBeveridge.Raider
Terminal=false
Type=Application
Categories=GTK;
StartupNotify=true
X-GNOME-UsesNotifications=true
# Translators: Do NOT translate or transliterate this text (these are enum types)!
X-Purism-FormFactor=Workstation;Mobile;
