[Desktop Entry]
Name=File Shredder
Exec=raider
Icon=com.github.ADBeveridge.Raider
Terminal=false
Type=Application
Categories=GTK;
StartupNotify=true
X-GNOME-UsesNotifications=true
